* {
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
}

.header {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 4, 97);
    font-weight: bolder;
    font-size: xx-large;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 10px auto;
    width: 80%;
}

#cap {
    text-align: left;
    font-weight: bolder;
    font-style: italic;
    font-size: x-large;
}

table th, td {
    border: 1px solid black;
    padding: 5px;
}

.image {
    width: 20px;
    height: auto;
}

table th {
    color: white;
    background-color: purple;
}

table input {
    margin: 5px;
}

#submitbtn {
    color: rgb(79, 78, 78);
    cursor: not-allowed;
}

#submitbtn.enabled {
    background-color: orange;
    color: white;
    cursor: pointer;
}
